parameters:
	ignoreErrors:
		# Needed because although the PHPStan typehint class-string<AMQPException> would make the check redundant,
		# it would still be possible for any arbitrary string to be passed in at runtime.
		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/AmqpCompat/Driver/Amqplib/Exception/ExceptionHandler.php

		-
			message: "#^Strict comparison using \\=\\=\\= between int\\<1, max\\> and 0 will always evaluate to false\\.$#"
			count: 1
			path: tests/Functional/Reference/Util/bootstrap.php

		-
			message: "#^Parameter \\#1 \\$exchangeName of method AMQPExchange\\:\\:delete\\(\\) expects string, null given\\.$#"
			count: 1
			path: tests/Unit/Amqp/AMQPExchangeTest.php

		-
			message: "#^Parameter \\#2 \\$value of method AMQPExchange\\:\\:setArgument\\(\\) expects bool\\|float\\|int\\|string\\|null, stdClass given\\.$#"
			count: 1
			path: tests/Unit/Amqp/AMQPExchangeTest.php

		# Needed because when classes are defined in multiple places, PHPStan loses named argument mapping.
		-
			message: "#^Unknown parameter \\$headers in call to method AMQPExchange::publish\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Amqp/AMQPExchangeTest.php

		-
			message: "#^Parameter \\#2 \\$value of method AMQPQueue\\:\\:setArgument\\(\\) expects AMQPDecimal\\|AMQPTimestamp\\|AMQPValue\\|array\\|bool\\|float\\|int\\|string\\|null, stdClass given\\.$#"
			count: 1
			path: tests/Unit/Amqp/AMQPQueueTest.php

		-
			message: "#^Parameter \\#1 \\$timestamp of class AMQPTimestamp constructor expects float\\|int, true given\\.$#"
			count: 1
			path: tests/Unit/Amqp/AMQPTimestampTest.php

		-
			message: "#^Parameter \\#2 \\$exceptionClass of method Asmblah\\\\PhpAmqpCompat\\\\Driver\\\\Amqplib\\\\Exception\\\\ExceptionHandler\\:\\:handleException\\(\\) expects class\\-string\\<AMQPException\\>, string given\\.$#"
			count: 1
			path: tests/Unit/AmqpCompat/Driver/Amqplib/Exception/ExceptionHandlerTest.php

		-
			message: "#^Parameter \\#2 \\$attributes of method Asmblah\\\\PhpAmqpCompat\\\\Driver\\\\Amqplib\\\\Transformer\\\\MessageTransformer\\:\\:transformEnvelope\\(\\) expects array\\{app_id\\?\\: string, content_encoding\\?\\: string, content_type\\?\\: string, delivery_mode\\?\\: string, expiration\\?\\: string, headers\\?\\: array, message_id\\?\\: string, priority\\?\\: string, \\.\\.\\.\\}, array\\{app_id\\: 1234\\} given\\.$#"
			count: 1
			path: tests/Unit/AmqpCompat/Driver/Amqplib/Transformer/MessageTransformerTest.php

		-
			message: "#^Parameter \\#2 \\$attributes of method Asmblah\\\\PhpAmqpCompat\\\\Driver\\\\Amqplib\\\\Transformer\\\\MessageTransformer\\:\\:transformEnvelope\\(\\) expects array\\{app_id\\?\\: string, content_encoding\\?\\: string, content_type\\?\\: string, delivery_mode\\?\\: string, expiration\\?\\: string, headers\\?\\: array, message_id\\?\\: string, priority\\?\\: string, \\.\\.\\.\\}, array\\{content_encoding\\: 1234\\} given\\.$#"
			count: 1
			path: tests/Unit/AmqpCompat/Driver/Amqplib/Transformer/MessageTransformerTest.php

		-
			message: "#^Parameter \\#2 \\$attributes of method Asmblah\\\\PhpAmqpCompat\\\\Driver\\\\Amqplib\\\\Transformer\\\\MessageTransformer\\:\\:transformEnvelope\\(\\) expects array\\{app_id\\?\\: string, content_encoding\\?\\: string, content_type\\?\\: string, delivery_mode\\?\\: string, expiration\\?\\: string, headers\\?\\: array, message_id\\?\\: string, priority\\?\\: string, \\.\\.\\.\\}, array\\{content_type\\: 123\\} given\\.$#"
			count: 1
			path: tests/Unit/AmqpCompat/Driver/Amqplib/Transformer/MessageTransformerTest.php

		-
			message: "#^Parameter \\#2 \\$attributes of method Asmblah\\\\PhpAmqpCompat\\\\Driver\\\\Amqplib\\\\Transformer\\\\MessageTransformer\\:\\:transformEnvelope\\(\\) expects array\\{app_id\\?\\: string, content_encoding\\?\\: string, content_type\\?\\: string, delivery_mode\\?\\: string, expiration\\?\\: string, headers\\?\\: array, message_id\\?\\: string, priority\\?\\: string, \\.\\.\\.\\}, array\\{message_id\\: 543\\} given\\.$#"
			count: 1
			path: tests/Unit/AmqpCompat/Driver/Amqplib/Transformer/MessageTransformerTest.php

		-
			message: "#^Parameter \\#2 \\$attributes of method Asmblah\\\\PhpAmqpCompat\\\\Driver\\\\Amqplib\\\\Transformer\\\\MessageTransformer\\:\\:transformEnvelope\\(\\) expects array\\{app_id\\?\\: string, content_encoding\\?\\: string, content_type\\?\\: string, delivery_mode\\?\\: string, expiration\\?\\: string, headers\\?\\: array, message_id\\?\\: string, priority\\?\\: string, \\.\\.\\.\\}, array\\{reply_to\\: 543\\} given\\.$#"
			count: 1
			path: tests/Unit/AmqpCompat/Driver/Amqplib/Transformer/MessageTransformerTest.php

		-
			message: "#^Parameter \\#2 \\$attributes of method Asmblah\\\\PhpAmqpCompat\\\\Driver\\\\Amqplib\\\\Transformer\\\\MessageTransformer\\:\\:transformEnvelope\\(\\) expects array\\{app_id\\?\\: string, content_encoding\\?\\: string, content_type\\?\\: string, delivery_mode\\?\\: string, expiration\\?\\: string, headers\\?\\: array, message_id\\?\\: string, priority\\?\\: string, \\.\\.\\.\\}, array\\{type\\: 654\\} given\\.$#"
			count: 1
			path: tests/Unit/AmqpCompat/Driver/Amqplib/Transformer/MessageTransformerTest.php

		-
			message: "#^Property class@anonymous/tests/Unit/Tests/Functional/Reference/Util/ClassEmulator/DelegatingClassEmulatorTest\\.php\\:237\\:\\:\\$myPrivateProp is never read, only written\\.$#"
			count: 1
			path: tests/Unit/Tests/Functional/Reference/Util/ClassEmulator/DelegatingClassEmulatorTest.php
